<pix-dialog dialog-title="{{title}}">
  <section>
    <article>
      <h3 data-role="song-title"></h3>
      <p data-role="singers"></p>
    </article>
    <div>
      <label class="form-label">{{ratingLabel}}</label>
      <pix-rating value="0"></pix-rating>
    </div>
    <footer>
      <button type="button" data-action="cancel" data-variant="secondary">{{cancelLabel}}</button>
      <button type="button" data-action="complete" data-variant="primary">{{confirmLabel}}</button>
    </footer>
  </section>
</pix-dialog>
