<if condition="hasLeaderboard">
  <div class="leaderboard-list">
    <for each="index, singer in leaderboard">
      <div class="leaderboard-item {{index < 3 ? 'leaderboard-item--top' : ''}}">
        <span class="leaderboard-rank">{{{singer.rankEmoji}}}</span>
        <div class="leaderboard-info">
          <span class="leaderboard-name">{{singer.name}}</span>
          <span class="leaderboard-stats">{{singer.count}} {{singer.songLabel}}</span>
        </div>
        <div class="leaderboard-rating">
          <span class="leaderboard-stars">{{{singer.stars}}}</span>
          <span class="leaderboard-avg">{{singer.averageRatingFormatted}}</span>
        </div>
      </div>
    </for>
  </div>
</if>
<else>
  <div class="leaderboard-empty">
    <p>{{noRatedPerformancesMessage}}</p>
    <p class="leaderboard-hint">{{leaderboardHintMessage}}</p>
  </div>
</else>
